@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

@layer utilities {
  .main-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-10;
  }
  .form-input {
    @apply text-gray-900 text-sm rounded-lg block w-full p-2.5 outline-none transition duration-150 ease-in-out ring-1 ring-inset ring-gray-900 placeholder-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-500 focus:border-primary-500;
  }

  .submit-full-button {
    @apply flex items-center w-full justify-center rounded-md bg-primary-500 px-4 py-2 text-base font-semibold leading-6 text-white shadow-sm hover:bg-[#e63b61] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500 transition duration-150 ease-in-out;
  }
  .section-heading {
    @apply text-xl font-semibold text-gray-950 dark:text-white sm:text-2xl;
  }
}

body {
  background: #fbfbfb;
  font-family: "Poppins", sans-serif;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
